.tab-content {
  background-color: #d7dbe2;
}

.nav-sidebar {
    width: 100%;
    padding: 30px 0;
    border-right: 1px solid #ddd;
}
.nav-sidebar a, .navbar-sidebar a:hover, ul.nav.tabs > li {
    color: #333;
    background-color: red;
    -webkit-transition: all 0.08s linear;
    -moz-transition: all 0.08s linear;
    -o-transition: all 0.08s linear;
    transition: all 0.08s linear;
}
.nav-sidebar .active a, .navbar-sidebar .active a:hover, ul.nav.tabs > li.active {
    cursor: default;
    background-color: yellow;
    color: #fff;
}
/*.nav-sidebar .active a:hover {
    background-color: #E50000;
}*/


.nav-sidebar .text-overflow a,
.nav-sidebar .text-overflow .media-body {
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

ul.nav.tabs > li {
  margin: 18px 17px;
  border: 1px solid #fff;
}

ul.nav.tabs > li > a {
  /*font-weight: bold;*/
  font-size: 2.5em;
}

.container .text-style
{
  text-align: justify;
  line-height: 23px;
  margin: 0 13px 0 0;
  font-size: 19px;
}

#accordion {
  margin-top: 20px;
}

section p {
  color: #a8a8a8;
}

.panel-heading a:hover, .panel-heading a:focus, .panel-heading a:visited  {
  text-decoration: none;
}

section.background-text {
  font-size: 20px;
  margin-top: 20px;
}

#accordion {
  font-size: 20px;
}

h4.panel-title {
  color: #333;
  font-weight: bold;
  text-transform: uppercase;
}

/*put an hover effect on the accordion panel-heading*/
.panel-heading:hover {
  background-color: #d7dbe2;
  /*put a transition*/
}

.panel-body {
  background-color: #f5f5f5;
}

div.panel-heading.active-panel {
  background-color: #f9d008;
  color: #fff;
}

.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img {
  height: 175px;
}

.intro-text {
  font-size: 20px;
  text-align: center;
  font-family: 'Arima Madurai', cursive !important;
  font-weight: 400;
  font-style: normal;
}

.mySlick {
  background-color: #ffffff;
}

.slick-arrow {
  background-color: #ccc;
  height: 50px;
  width: 30px;
}
.slick-prev, .slick-next {
  display: block;
  color: #000000;
  background-color: #ccc;
  border: 1px solid #ccc;
  border-radius: 0 3px 3px 0;
}

section.videos {
  width: 85%;
  margin: auto;
}

.video-block {
  display: block;
  margin: 0 10px;
  box-sizing: border-box;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
}

.thumbnail-block {
  background-color: orange;
  height: 160px;
  position: relative;
}

.meta {
  height: 50px;
  background-color: #ffffff;
}

.thumbnail-block a img {
  height: 100%;
  width: 100%;
}

.content-block {
  background-color: #ffffff;
  height: 75px;
  padding: 0 10px 10px 10px;
}

.content-block a {
  font-size: 15px;
  font-size: 700;
  color: #167ac6;
}

.play-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: url(img/play.png) no-repeat center center;
}
